<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzy.mapper.ConfigMapper">

    <!--查找，只有一个-->
    <select id="find" resultType="com.hxzy.entity.Config">
        select *
        from config
    </select>

    <!--先删除后增加-->
    <delete id="delete">
        delete
        from config
        where 1 = 1
    </delete>

    <insert id="insert" parameterType="com.hxzy.entity.Config">
        insert into config (title, address,
                            webtitle, email, keyword,
                            description, phone, icp,
                            logo, tongjicode, kfcode
        )
        values (#{title,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
                #{webtitle,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{icp,jdbcType=VARCHAR},
                #{logo,jdbcType=VARCHAR}, #{tongjicode,jdbcType=VARCHAR}, #{kfcode,jdbcType=VARCHAR}
               )
    </insert>


</mapper>