<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzy.mapper.GoodsMapper">


    <select id="findOne" parameterType="java.lang.Integer"  resultType="com.hxzy.entity.Goods">
        select *
        from shop_goods
        where id = #{id,jdbcType=INTEGER}
    </select>


    <insert id="insert" parameterType="com.hxzy.entity.Goods" useGeneratedKeys="true" keyProperty="id">
    insert into shop_goods (id, goodssn, pcate,
      ccate, tcate, type, status,
      displayorder, title, thumb,
      description, weight, productsn,
      marketprice, productprice, total,
      totalcnf, createtime, isnew,
      issendfree, ishot, isdiscount,
      isrecommand, istime, timestart,
      timeend, deleted, content )
    values (#{id,jdbcType=INTEGER}, #{goodssn,jdbcType=VARCHAR}, #{pcate,jdbcType=INTEGER},
      #{ccate,jdbcType=INTEGER}, #{tcate,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{displayorder,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{thumb,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{productsn,jdbcType=VARCHAR},
      #{marketprice,jdbcType=DECIMAL}, #{productprice,jdbcType=DECIMAL}, #{total,jdbcType=INTEGER},
      #{totalcnf,jdbcType=INTEGER}, #{createtime,jdbcType=INTEGER}, #{isnew,jdbcType=INTEGER},
      #{issendfree,jdbcType=INTEGER}, #{ishot,jdbcType=INTEGER}, #{isdiscount,jdbcType=INTEGER},
      #{isrecommand,jdbcType=INTEGER}, #{istime,jdbcType=INTEGER}, #{timestart,jdbcType=INTEGER},
      #{timeend,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>



    <update id="update" parameterType="int">
    update shop_goods
    set pcate = #{pcate,jdbcType=INTEGER},
      ccate = #{ccate,jdbcType=INTEGER},
      tcate = #{tcate,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      displayorder = #{displayorder,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      productsn = #{productsn,jdbcType=VARCHAR},
      marketprice = #{marketprice,jdbcType=DECIMAL},
      productprice = #{productprice,jdbcType=DECIMAL},
      total = #{total,jdbcType=INTEGER},
      totalcnf = #{totalcnf,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=INTEGER},
      isnew = #{isnew,jdbcType=INTEGER},
      issendfree = #{issendfree,jdbcType=INTEGER},
      ishot = #{ishot,jdbcType=INTEGER},
      isdiscount = #{isdiscount,jdbcType=INTEGER},
      isrecommand = #{isrecommand,jdbcType=INTEGER},
      istime = #{istime,jdbcType=INTEGER},
      timestart = #{timestart,jdbcType=INTEGER},
      timeend = #{timeend,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
      where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateSelective" parameterType="com.hxzy.entity.Goods">
        update shop_goods
        <set>
            <if test="pcate != null">
                pcate = #{pcate,jdbcType=INTEGER},
            </if>
            <if test="ccate != null">
                ccate = #{ccate,jdbcType=INTEGER},
            </if>
            <if test="tcate != null">
                tcate = #{tcate,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="displayorder != null">
                displayorder = #{displayorder,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="thumb != null">
                thumb = #{thumb,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="productsn != null">
                productsn = #{productsn,jdbcType=VARCHAR},
            </if>
            <if test="marketprice != null">
                marketprice = #{marketprice,jdbcType=DECIMAL},
            </if>
            <if test="productprice != null">
                productprice = #{productprice,jdbcType=DECIMAL},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
            <if test="totalcnf != null">
                totalcnf = #{totalcnf,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=INTEGER},
            </if>
            <if test="isnew != null">
                isnew = #{isnew,jdbcType=INTEGER},
            </if>
            <if test="issendfree != null">
                issendfree = #{issendfree,jdbcType=INTEGER},
            </if>
            <if test="ishot != null">
                ishot = #{ishot,jdbcType=INTEGER},
            </if>
            <if test="isdiscount != null">
                isdiscount = #{isdiscount,jdbcType=INTEGER},
            </if>
            <if test="isrecommand != null">
                isrecommand = #{isrecommand,jdbcType=INTEGER},
            </if>
            <if test="istime != null">
                istime = #{istime,jdbcType=INTEGER},
            </if>
            <if test="timestart != null">
                timestart = #{timestart,jdbcType=INTEGER},
            </if>
            <if test="timeend != null">
                timeend = #{timeend,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="search" parameterType="com.hxzy.vo.GoodsSearch"  resultType="com.hxzy.entity.Goods">
        select id,pcate,firstCateName,ccate,secondCateName,tcate,thirdCateName,type,status,title,thumb,goodssn,marketprice,
        total,isnew,issendfree,ishot,isdiscount,isrecommand
        from view_goods
        <where>
            <if test="title != null and title !='' ">
                and title like concat('%',#{title},'%')
            </if>

            <if test="status != null and status !='' ">
                and status=#{status}
            </if>

              and deleted=0
        </where>

        order by id desc

    </select>






</mapper>